#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
#main div {
    background: rgb(102, 231, 167);
    width: 20em;
    height: 20em;
    margin: 1em;
    }